<!DOCTYPE html>
    <html>
        <head>
            <body>
                <p>
                    You have received a Message from the Site's Contact Form<%= "#{ @name }, #{ @mail },"%>
                </p>
            </body>
        </head>
    </html>